<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8SCz2qFBK_Bp1-ErTyICcZC_t70wqNOM</string>
	<key>GCM_SENDER_ID</key>
	<string>133074087701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushHrmgo</string>
	<key>PROJECT_ID</key>
	<string>hrmgo-overall</string>
	<key>STORAGE_BUCKET</key>
	<string>hrmgo-overall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133074087701:ios:6742790d093ff541a8c31c</string>
</dict>
</plist>